################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObjectiveGourmetGame/ObjectiveGourmetGame/obj
/ObjectiveGourmetGame/.vs/ObjectiveGourmetGame
/ObjectiveGourmetGame/ObjectiveGourmetGame/bin/Debug/netcoreapp3.1
/ObjectiveGourmetGame/ObjectiveGourmetGame.Domain/bin/Debug/netcoreapp3.1
/ObjectiveGourmetGame/ObjectiveGourmetGame/Properties/PublishProfiles
/ObjectiveGourmetGame/ObjectiveGourmetGame.Domain/obj
/ObjectiveGourmetGame/ObjectiveGourmetGame.Infra/bin/Debug/netcoreapp3.1
/ObjectiveGourmetGame/ObjectiveGourmetGame.Infra/obj
/ObjectiveGourmetGame/.vs/CharacterGuesser
/ObjectiveGourmetGame/CharacterGuesser/bin/Debug/netcoreapp3.1
/ObjectiveGourmetGame/CharacterGuesser/obj
/ObjectiveGourmetGame/CharacterGuesser/Properties/PublishProfiles
/ObjectiveGourmetGame/CharacterGuesser.Domain/bin/Debug/netcoreapp3.1
/ObjectiveGourmetGame/CharacterGuesser.Domain/obj
/ObjectiveGourmetGame/CharacterGuesser.Infra/bin/Debug/netcoreapp3.1
/ObjectiveGourmetGame/CharacterGuesser.Infra/obj
/src/CharacterGuesser/bin/Debug/netcoreapp3.1
/src/CharacterGuesser/obj
/src/CharacterGuesser/Properties/PublishProfiles
/src/CharacterGuesser.Domain/bin/Debug/netcoreapp3.1
/src/CharacterGuesser.Domain/obj/Debug/netcoreapp3.1
/src/CharacterGuesser.Domain/obj
/src/CharacterGuesser.Infra/bin/Debug/netcoreapp3.1
/src/CharacterGuesser.Infra/obj
/src/.vs/CharacterGuesser/DesignTimeBuild
/src/.vs/CharacterGuesser/v16
